<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.OrderdetailMapper">
	
	<select id="select" parameterType="Integer" resultType="Orderdetail">
		SELECT * FROM orderdetail WHERE orderdetail_no=#{orderdetail_no}
	</select>
	<select id="selectall" resultType="Orderdetail">
		SELECT * FROM orderdetail
	</select>
	<insert id="insert" parameterType="Orderdetail">
		INSERT INTO orderdetail VALUES (orderdetail_no ,#{item_no},#{order_no},#{count}, #{request})
	</insert>
	<update id="update" parameterType="Orderdetail">
		UPDATE orderdetail SET item_no=#{item_no}, order_no=#{order_no}, count=#{count}, request=#{request}  WHERE orderdetail_no=#{orderdetail_no}
	</update>
	<delete id="delete" parameterType="Integer">
		DELETE FROM orderdetail WHERE orderdetail_no=#{orderdetail_no}
	</delete>
	
</mapper>